
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
:root{
    --main-color: #e50914;
    --black: #141414;
    --white: #ffffff;
    --light-black: #333;
    --grey: #999;
    --light-grey: #ccc;
    --dark-grey: #222;
    --font-family: 'Roboto Slab', serif;
    --font-size: 16px;
    --border-radius: 5px;
    --transition: all 0.3s ease-in-out;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
body{

    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
}